html {
    background-color: #45209c;
    font-size: 10px;
    font-family: "Arial", sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #1823b3;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #45209c;
    text-shadow: 3px 3px 1px black;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}